<!DOCTYPE html>
<html>
<head>
    <title>Groupie tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/785416497538269194/808653487181004840/logo_note.png">
</head>

<body class="accueil">
    <header class="accueil">
        <div id="divLogo">
            <a href="#">
                <img id="logo" src="https://cdn.discordapp.com/attachments/785416497538269194/808653487181004840/logo_note.png">
            </a>
            <img id="filter" src="https://cdn.discordapp.com/attachments/785416497538269194/816304952925618207/filter.png">
        </div>
        <input class="searchbar"type="text" placeholder="Rechercher">
    </header>

    <div id="artistAndFilter">
        <div id="filterPage">
            <div id="filterPage2">
                <p>membres</p>
                <div class="col1">
                <form method="POST">
                    <input name="test" type="range" value="1" min="1" max="7" oninput="this.nextElementSibling.value = this.value">
                    <output>1</output>
                    <input type="submit">
                </form>
                </div>
                <div class="col2">
                    <input type="range" value="7" min="1" max="7" oninput="this.nextElementSibling.value = this.value">
                    <output>7</output>
                </div>
                <p>date de création</p>
                <div class="col1">
                    <input type="range" value="1962" min="1962" max="2013" oninput="this.nextElementSibling.value = this.value">
                    <output>1962</output>
                </div>
                <div class="col2">
                    <input type="range" value="2013" min="1962" max="2013" oninput="this.nextElementSibling.value = this.value">
                    <output>2013</output>
                </div>       

                <p>date de premier album</p>
                <div class="col1">
                    <input type="range" value="1963" min="1963" max="2018" oninput="this.nextElementSibling.value = this.value">
                    <output>1963</output>
                </div>
                <div class="col2">
                    <input type="range" value="2018" min="1963" max="2018" oninput="this.nextElementSibling.value = this.value">
                    <output>2018</output>
                </div>
            </div>
            <!-- <p>localisations</p>
            <ul>
                <li>

                </li>
                <li><input type="checkbox" name="USA"><label>USA</label></li>
                <li><input type="checkbox" name="japon"><label>japon</label></li>
                <li><input type="checkbox" name="nouvelle zélande"><label>nouvelle zélande</label></li>
                <li><input type="checkbox" name="mexique"><label>mexique</label></li>
                <li><input type="checkbox" name="polynésie"><label>polynésie</label></li>
                <li><input type="checkbox" name="nouvelle calédonie"><label>nouvelle calédonie</label></li>
                <li><input type="checkbox" name="angleterre"><label>angleterre</label></li>
                <li><input type="checkbox" name="suisse"><label>suisse</label></li>
                <li><input type="checkbox" name="france"><label>france</label></li>
                <li><input type="checkbox" name="australie"><label>australie</label></li>
                <li><input type="checkbox" name="indonésie"><label>indonésie</label></li>
                <li><input type="checkbox" name="slovaquie"><label>slovaquie</label></li>
                <li><input type="checkbox" name="hongrie"><label>hongrie</label></li>
                <li><input type="checkbox" name="indonésie"><label>indonésie</label></li>
            </ul> -->
        </div>
        <div id="artistcliquable">
        {{range .}}
            {{if .ToPrint}}
                <a href="/groupie-tracker/{{.Id}}">
                    <div class="cardArtist" id="{{.Id}}">
                        <h2>{{.Name}}</h2>
                        {{.ToPrint}}
                        <img src="{{.Image}}">
                    </div>
                </a>
            {{end}}
        {{end}}
        </div>
    </div>

    <footer>        
        <p>Copyright &copy;  Groupie Tracker 2020-2021</p>
    </footer>
    
</body>

<script>
    var bouton = document.querySelector("#filter");
    var divFilter = document.querySelector("#filterPage");
    bouton.addEventListener("click", openFilter);
    function openFilter() {
        if (divFilter.style.display == "inline") {
            divFilter.style.display = "none"
        } else {
            divFilter.style.display = "inline"
        }
    }
</script>

</html>
