<!DOCTYPE html>
<html>
<head>
    <title>Groupie tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    
<body>
    <header>
        <div id="divLogo">
            <a href="/groupie-tracker">
                <img id="logoImage" src="logo.png">
            </a>
            <img id="filterImage" src="filtre.png">
        </div>  
        <form method="POST" id="formSearchBar">
            <input list="list" id="searchInput" type="text" name="search" placeholder="Rechercher" autocomplete="off"/>
            <div class="searchButton" href="#">
                <img src="https://cdn.discordapp.com/attachments/785416497538269194/821762035599671356/search_logo.png" id="loupe">
            </div>
            <datalist id="list">
                {{range .}}
                    <option value="{{.Name}} -Name">
                    {{range .Members}}
                        <option value="{{.}} -Members">
                    {{end}}
                    <option value="{{.FirstAlbum}} -FirstAlbum">
                    <option value="{{.CreationDate}} -CreationDate">
                    {{range $index, $element := .TabRelation}}
                        <option value="{{$index}} -Location">
                        {{range $element}}
                            <option value="{{.}} -ConcertDate">
                        {{end}}
                    {{end}}
                {{end}}
            </datalist>
        </form>
    </header>

    <div class="artistAndFilter">
            <div class="filterMembers">
                <h2>Combien de membres ?</h2>
                <form method="POST">
                    <div>
                        <input type="checkbox" label="1" name="OneMember"> <label>1</label>
                        <input type="checkbox" label="2" name="TwoMember">  <label>2</label>
                        <input type="checkbox" label="3" name="ThreeMember"> <label>3</label>
                        <input type="checkbox" label="4" name="FourMember"> <label>4</label>
                        <input type="checkbox" label="5" name="FiveMember"> <label>5</label>
                        <input type="checkbox" label="6" name="SixMember">  <label>6</label>
                        <input type="checkbox" label="7" name="SevenMember"> <label>7</label>
                    </div>
            </div>
            <div class="filterDates">
                <h2>Quelle date de création ?</h2>
                <div>
                    <input type="range" name="minCrea" value="1958" min="1958" max="2015" oninput="this.nextElementSibling.value = this.value">
                    <output>1958</output>
                </div>
                <div>
                    <input type="range" name="maxCrea" value="2015" min="1958" max="2015" oninput="this.nextElementSibling.value = this.value">
                    <output>2015</output>
                </div>
            </div>
            <div class="filterSubmit">
                <input class="raise" name="submit" type="submit">
                </form>
            </div>
    </div>

        <div id="allCardArtist">
            {{range .}}
                <a href="/groupie-tracker/{{.ID}}" class="cardArtist" id="{{.ID}}">
                    <div class="face face1">
                        <h2 class="nom">{{.Name}}</h2>
                    </div>
                    <div class="face face2">
                        <img src="{{.Image}}">
                    </div>
                </a>
            {{end}}
        </div>
    <footer>
        <svg viewBox="0 0 120 28">
            <defs> 
                <mask id="xxx">
                    <circle cx="7" cy="12" r="40" fill="#fff" />
                </mask>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="
                        1 0 0 0 0  
                        0 1 0 0 0  
                        0 0 1 0 0  
                        0 0 0 13 -9" result="goo" />
                    <feBlend in="SourceGraphic" in2="goo" />
                </filter>
                <path id="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
            </defs> 
            
            <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2" ></use> 
            <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0" ></use>   
            <g class="gooeff">
            <circle class="drop drop1" cx="20" cy="2" r="1.8"  />
            <circle class="drop drop2" cx="25" cy="2.5" r="1.5"  />
            <circle class="drop drop3" cx="16" cy="2.8" r="1.2"  />
            <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
        </svg>    
        <div>Copyright &copy;  Groupie Tracker 2020-2021</div>
    </footer>
</body>

<script>
    var searchImage = document.querySelector("#formSearchBar");
    var searchInput = document.querySelector("#searchInput");
    var imageLoupe = document.querySelector("#loupe")

    searchImage.addEventListener("mouseenter", openSearchBar);

    function openSearchBar() {
        if (searchInput.style.width == "240px"){
            searchInput.style.width = "0px"
            searchInput.style.padding = "0"
            imageLoupe.style.opacity = "100%"
        } else {
            searchInput.style.width = "240px"
            searchInput.style.padding = "0 6px"
            imageLoupe.style.opacity = "0"
        }
    }
</script>

</html>