<!DOCTYPE html>
<html>
<head>
    <title>Groupie tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    

<body class="accueil">
    <header class="accueil">
        <div id="divLogo">
            <a href="/groupie-tracker">
                <img id="logo" src="logo.png">
            </a>
            <img id="filter" src="filtre.png">
        </div>
        <form method="POST">
            <input list="list" id="search" name="search" placeholder="Rechercher" autocomplete="off"/>
            <datalist id="list">
                {{range .}}
                    <option value="{{.Name}} -Name">
                    {{range .Members}}
                        <option value="{{.}} -Members">
                    {{end}}
                    <option value="{{.FirstAlbum}} -FirstAlbum">
                    <option value="{{.CreationDate}} -CreationDate">
                    {{range $index, $element := .TabRelation}}
                        <option value="{{$index}} -Location">
                        {{range $element}}
                            <option value="{{.}} -ConcertDate">
                        {{end}}
                    {{end}}
                {{end}}
            </datalist>
        </form>
    </header>

    <div id="artistAndFilter">
        <div id="filterPage">
            <div id="filterPage2">
                <p>membres</p>
                <form method="GET">
                    <div class="col1">
                        <input type="checkbox" label="1" name="OneMember"> <label>1</label>
                        <input type="checkbox" label="2" name="TwoMember">  <label>2</label>
                        <input type="checkbox" label="3" name="ThreeMember"> <label>3</label>
                        <input type="checkbox" label="4" name="FourMember"> <label>4</label>
                        <input type="checkbox" label="5" name="FiveMember" > <label>5</label>
                        <input type="checkbox" label="6" name="SixMember">  <label>6</label>
                        <input type="checkbox" label="7" name="SevenMember"> <label>7</label>
                    </div>
                <p>date de création</p>
                <div class="col1">
                    <input type="range" name="minCrea" value="1958" min="1958" max="2015" oninput="this.nextElementSibling.value = this.value">
                    <output>1958</output>
                </div>
                <div class="col2">
                    <input type="range" name="maxCrea" value="2015" min="1958" max="2015" oninput="this.nextElementSibling.value = this.value">
                    <output>2015</output>
                </div>
                <input name="submit" type="submit">
                </form>
            </div>
        </div>

        <div id="artistcliquable">
            {{range .}}
                <a href="/groupie-tracker/{{.ID}}" class="cardArtist">
                    <div class="face face1">
                        <h2>{{.Name}}</h2>
                    </div>
                    <div class="face face2">
                        <img src="{{.Image}}">
                    </div>
                </a>
            {{end}}
        </div>

    <footer>        
        <p>Copyright &copy;  Groupie Tracker 2020-2021</p>
    </footer>
    
</body>

<script>
    var bouton = document.querySelector("#filter");
    var divFilter = document.querySelector("#filterPage");
    bouton.addEventListener("click", openFilter);
    function openFilter() {
        if (divFilter.style.display == "inline") {
            divFilter.style.display = "none"
        } else {
            divFilter.style.display = "inline"
        }
    }
</script>

</html>