
.box {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(6);
    grid-row-gap: 50px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}

.box div #texte {
    padding-left: 25px;
    border-radius: 10px;
}

.box div a .raise {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    transition: 0.25s;
    border-color: rgb(255, 255, 255);
    color: #fff;
}

.box div a .raise:hover,
.box div a .raise:focus {
    box-shadow: 1px 1px 10px 10px white;
    transform: translateY(-0.25em);
}

/* thanks page  */

.merci  {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    color: white;
    font-size: 9em;
    font-weight: 900;
    text-align: center;
}